/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 21, 2015, 12:06:25 PM
    Author     : John
*/
h1, h2 {
    color:#330000;
    text-align: center;
}
.shape {
    width: 250px;
    font-size: large;
}
div{
    height: 200px;
    padding: 20px;
    border: teal;
    border-style: groove;
    margin-bottom: 10px;
    background-color:#d8e5ee;
}
body {
    padding: 20px;
    border: aliceblue;
    border-style: groove;
    margin:10px;
    font:1em Arial, sans-serif;
    background-color:#ddd9ee;
    font-size: 100%;
}
img {
    height:125px;
    width:auto;
    float: right;
}

text {
    clear:both;
}
p {
    font-weight: bold;
}
ul {
    list-style: circle;
}